In [1]:
#imports
!pip install kaggle
import pandas as pd
import json
import numpy as np

Requirement already satisfied: kaggle in c:\users\liora\anaconda3\lib\site-packages (1.5.12)
Requirement already satisfied: six>=1.10 in c:\users\liora\anaconda3\lib\site-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-dateutil in c:\users\liora\anaconda3\lib\site-packages (from kaggle) (2.8.1)
Requirement already satisfied: urllib3 in c:\users\liora\anaconda3\lib\site-packages (from kaggle) (1.25.11)
Requirement already satisfied: requests in c:\users\liora\anaconda3\lib\site-packages (from kaggle) (2.24.0)
Requirement already satisfied: python-slugify in c:\users\liora\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: certifi in c:\users\liora\anaconda3\lib\site-packages (from kaggle) (2020.6.20)
Requirement already satisfied: tqdm in c:\users\liora\anaconda3\lib\site-packages (from kaggle) (4.50.2)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\liora\anaconda3\lib\site-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\liora\anaconda3\lib\site-packages (from requests->kaggle) (2.10)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\liora\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)

In [2]:
#start crawling api from kaggle
from kaggle.api.kaggle_api_extended import KaggleApi
from zipfile import ZipFile
Api = KaggleApi()
Api.authenticate()

In [3]:
#crawling data for map (Visualisation)
Api.dataset_download_file('usdot/flight-delays','airports.csv')
Airplanes=pd.read_csv('airports.csv')
Airplanes.drop(['AIRPORT','CITY','STATE','COUNTRY'], axis=1, inplace=True)
Airplanes.to_csv("LocationAirports.csv")

In [4]:
def GetApi(x):
    Api.dataset_download_file('yuanyuwendymu/airline-delay-and-cancellation-data-2009-2018',str(x)+'.csv')
    zf = ZipFile(str(x)+'.csv.zip')
    #extracted data is saved in the same directory as notebook
    zf.extractall() 
    zf.close()
    data=pd.read_csv(str(x)+'.csv')
    return data

In [5]:
#data handling & cleaning 
df=pd.concat([GetApi(2013),GetApi(2014),GetApi(2015),GetApi(2016),GetApi(2017),GetApi(2018)])
df.drop(['CANCELLED','CANCELLATION_CODE','DIVERTED','CARRIER_DELAY','WEATHER_DELAY','NAS_DELAY','SECURITY_DELAY','LATE_AIRCRAFT_DELAY','Unnamed: 27','AIR_TIME','ACTUAL_ELAPSED_TIME','CRS_ELAPSED_TIME','TAXI_IN','WHEELS_ON','WHEELS_OFF','TAXI_OUT','OP_CARRIER_FL_NUM'], axis=1, inplace=True)
df = df.dropna()

In [8]:
df['OP_CARRIER'].replace({
    'UA':'United Airlines',
    'AS':'Alaska Airlines',
    '9E':'Endeavor Air',
    'B6':'JetBlue Airways',
    'EV':'ExpressJet',
    'F9':'Frontier Airlines',
    'G4':'Allegiant Air',
    'HA':'Hawaiian Airlines',
    'MQ':'Envoy Air',
    'NK':'Spirit Airlines',
    'OH':'PSA Airlines',
    'OO':'SkyWest Airlines',
    'VX':'Virgin America',
    'WN':'Southwest Airlines',
    'YV':'Mesa Airline',
    'YX':'Republic Airways',
    'AA':'American Airlines',
    'DL':'Delta Airlines'
},inplace=True)

In [7]:
#save dataframe to csv file
df.to_csv("data.csv")

In [9]:
df

,FL_DATE,OP_CARRIER,ORIGIN,DEST,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,DISTANCE
0,2013-01-01,Virgin America,LAX,IAD,700,700.0,0.0,1445,1418.0,-27.0,2288.0
1,2013-01-01,Virgin America,LAX,IAD,2205,2204.0,-1.0,545,536.0,-9.0,2288.0
2,2013-01-01,Virgin America,JFK,SFO,730,729.0,-1.0,1115,1049.0,-26.0,2586.0
3,2013-01-01,Virgin America,PHL,LAX,700,700.0,0.0,1000,1014.0,14.0,2402.0
4,2013-01-01,Virgin America,LAX,PHL,1100,1104.0,4.0,1915,1837.0,-38.0,2402.0
...,...,...,...,...,...,...,...,...,...,...,...
7213441,2018-12-31,American Airlines,DCA,CLT,1534,1530.0,-4.0,1714,1709.0,-5.0,331.0
7213442,2018-12-31,American Airlines,CLT,DFW,1751,1757.0,6.0,1952,1953.0,1.0,936.0
7213443,2018-12-31,American Airlines,CLT,MEM,2015,2010.0,-5.0,2107,2118.0,11.0,511.0
7213444,2018-12-31,American Airlines,CLT,RDU,1300,1323.0,23.0,1350,1404.0,14.0,130.0
7213445,2018-12-31,American Airlines,RDU,CLT,1435,1443.0,8.0,1546,1542.0,-4.0,130.0